<?xml version="1.0" encoding="UTF-8"?>
<beans xmlns="http://www.springframework.org/schema/beans"
       xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
       xmlns:context="http://www.springframework.org/schema/context"
       xmlns:mvc="http://www.springframework.org/schema/mvc"
       xsi:schemaLocation="http://www.springframework.org/schema/beans
        http://www.springframework.org/schema/beans/spring-beans.xsd
        http://www.springframework.org/schema/context
        http://www.springframework.org/schema/context/spring-context.xsd
        http://www.springframework.org/schema/mvc
        http://www.springframework.org/schema/mvc/spring-mvc.xsd">
    <!--开启springMVC注解-->
    <mvc:annotation-driven/>
    <!--静态资源访问-->
    <mvc:resources mapping="/public/**" location="/public/" />

    <!--controller层的扫描-->
    <context:component-scan base-package="com.example.meal_ordering_system.controller"/>

    <!--加载视图解析器-->
    <bean class="org.springframework.web.servlet.view.InternalResourceViewResolver">
        <!--设置前缀属性-->
        <property name="prefix" value="/public/"/>
        <!--设置后缀属性-->
        <property name="suffix" value=".jsp"/>
    </bean>




    <!--配置拦截器-->
<!--    <mvc:interceptors>-->
        <!--  <bean class="cn.lzc.interceptor.CustomInterceptor"></bean>--><!--拦截所有请求-->

        <!-- <mvc:interceptor>
            <mvc:mapping path="/**"/>
            <mvc:exclude-mapping path="/" /><&lt;!&ndash;配置了mapping 这个 将不再起作用&ndash;&gt;
            <bean class="cn.lzc.interceptor.CustomInterceptor"></bean>
        </mvc:interceptor>-->

<!--    前台登录拦截器-->
<!--        <mvc:interceptor>-->
<!--        <mvc:mapping path="/qiantai/**" />-->
<!--        <bean class="com.example.meal_ordering_system.interceptor.UserLoginInterceptor"/>-->
<!--        </mvc:interceptor>-->

<!--        后台登录拦截器-->
<!--        <mvc:interceptor>-->
<!--            <mvc:mapping path="/admin/**"/>-->
<!--            <bean class="com.example.meal_ordering_system.interceptor.AdminLoginInterceptor"/>-->
<!--        </mvc:interceptor>-->
<!--    </mvc:interceptors>-->


    <!--加载文件解析器-->
    <bean id="multipartResolver" class="org.springframework.web.multipart.commons.CommonsMultipartResolver">
        <!-- 设置上传文件的最大尺寸为10M -->
        <property name="maxUploadSize" value="100000000"/>
        <property name="maxInMemorySize" value="4096"/>
        <property name="defaultEncoding" value="UTF-8"/>
        <property name="resolveLazily" value="true"/>
    </bean>
</beans>