/* ============ÄÚÈİ·­Ò³============== */

div.page_content {
font:14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#555;
}

div.page_content p,div.page_content a,div.page_content td,div.page_content span,div.page_content li{
font:14px/22px Verdana, Arial, Helvetica, sans-serif;
color:#555;
}


